services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    # redis-server --save "" --appendonly no
    # désactive la persistance sur disque → Redis utilisé uniquement comme cache RAM
    command: redis-server --save "" --appendonly no

  optimizer:
    build: ./optimizer
    ports:
      - "3001:3001"

  api:
    build: ./api
    ports:
      - "3000:3000"
    environment:
      - OPTIMIZER_URL=http://optimizer:3001
      - REDIS_URL=redis://redis:6379
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    depends_on:
      - optimizer
      - redis
      - minio

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  front:
    build: ./front
    ports:
      - "5173:80"
    depends_on:
      - api

volumes:
  minio_data: